<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loader</title>
    <style>
        html {
            height: 100vh;
        }

        body {
            background: radial-gradient(ellipse at center, #443501 0%, #000000 100%);
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }

        div#main {
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="container">
          <div>
            
            <svg version="1.1" baseProfile="full" width="213" height="180" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <image id="gear1" x="0" y="0" width="92" height="92" xlink:href="gear-med.png"/>
                <image id="gear2" x="57.5" y="57.5" width="122" height="122" xlink:href="gear-max.png" transform="rotate(16.875 118.5 118.5)"/>
                <image id="gear3" x="149" y="24" width="64" height="64" xlink:href="gear-min.png"/>

                <animateTransform xlink:href="#gear1" attributeName="transform" attributeType="XML" type="rotate" from="0 46 46" to="360 46 46" dur="6s" repeatCount="400"/>
                <animateTransform xlink:href="#gear2" attributeName="transform" attributeType="XML" type="rotate" to="16.875 118.5 118.5" from="376.875 118.5 118.5" dur="8s" repeatCount="300"/>
                <animateTransform xlink:href="#gear3" attributeName="transform" attributeType="XML" type="rotate" from="0 181 56" to="360 181 56" dur="4s" repeatCount="600"/>
            </svg>
            
          </div>
        </div>
    </div>
</body>
</html>