@font-face {
    font-family: 'Lost Pixelized Font';
    src: url('lpf.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: 'Lost Pixelized Font', monospace;
}

#bg {
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("back.jpg");
    background-position: center center;
}

.overlay {
    color: #222;
    padding: 3px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 2px rgba(0, 0, 0, 0.3);
}

#main-overlay {
    color: #ddd;
    margin: 11%;
    padding: 42px;
    font-size: 42px;
    text-align: center;
    text-shadow: 1px 1px #111;
}

#copyright-overlay {
    right: 0;
    bottom: 0;
    position: fixed;
    margin: 0 7px 7px 0;
}

#copyright-overlay a {
    color: #222;
    font-weight: bold;
    text-decoration: none;
}

/* Extra Large Devices, Ultra HD */

@media only screen and (max-width: 2000px) {
    #mq-2000 {display: block}
    #mq-1200 {display: none}
    #mq-992 {display: none}
    #mq-768 {display: none}
    #mq-480 {display: none}
    
    strong {font-size: 42px}
    #main-overlay {font-size: 35px}
}

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
    #mq-2000 {display: none}
    #mq-1200 {display: block}
    #mq-992 {display: none}
    #mq-768 {display: none}
    #mq-480 {display: none}
    
    strong {font-size: 42px}
    #main-overlay {font-size: 35px}
}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    #mq-2000 {display: none}
    #mq-1200 {display: none}
    #mq-992 {display: block}
    #mq-768 {display: none}
    #mq-480 {display: none}
    
    strong {font-size: 33px}
    #main-overlay {font-size: 25px}
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    #mq-2000 {display: none}
    #mq-1200 {display: none}
    #mq-992 {display: none}
    #mq-768 {display: block}
    #mq-480 {display: none}
    
    strong {font-size: 21px}
    #main-overlay {font-size: 15px}
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    #mq-2000 {display: none}
    #mq-1200 {display: none}
    #mq-992 {display: none}
    #mq-768 {display: none}
    #mq-480 {display: block}
    
    strong {font-size: 14px}
    #main-overlay {font-size: 10px}
}