/* Webfont: Lost Pixelized Font Regular */
@font-face {
    font-family: 'Lost Pixelized Font';
    src: url('lpf.woff2') format('woff2'), /* Safari, Android, iOS */
         url('lpf.woff') format('woff'), /* Modern Browsers */
         url('lpf.otf') format('opentype'), /* Modern Browsers */
         url('lpf.ttf') format('truetype'); /* IE6-IE9 */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body, html {
    margin: 0;
    height: 100%;
    font-size: 42px;
    color: rgba(207, 174, 109);
    background-color: rgba(0, 0, 0);
    font-family: 'Lost Pixelized Font', monospace;
}

#bg {
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Extra large screens, big displays */

@media only screen and (max-width: 1800px) {

}

/* Larger screens, TVs, wide screens */

@media only screen and (max-width: 1200px) {

}

/* Medium screens, desktops */

@media only screen and (max-width: 1024px) {

}

/* Small screens, tablets */

@media only screen and (max-width: 768px) {

}

/* Tiny screens, mobile devices, phones */

@media only screen and (max-width: 480px) {

}