/* Webfont: Lost Pixelized Font Regular */
@font-face {
    font-family: 'Lost Pixelized Font';
    src: url('lpf.woff2') format('woff2'), /* Safari, Android, iOS */
         url('lpf.woff') format('woff'), /* Modern Browsers */
         url('lpf.otf') format('opentype'), /* Modern Browsers */
         url('lpf.ttf') format('truetype'); /* IE6-IE9 */
    font-style: normal;
    font-weight: normal;
}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    font-family: 'Lost Pixelized Font', monospace;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
}

.box img {
    height: 100%;
    object-fit: fill;
}

/* MQ5: 1201 px to 1800 px (Full HD screens, big displays) */

@media only screen and (min-width: 1801px) {

}

/* MQ5: 1201 px to 1800 px (Full HD screens, big displays) */

@media only screen and (max-width: 1800px) {

}

/* MQ4: 1025 px to 1200 px (HD screens, desktops) */

@media only screen and (max-width: 1200px) {

}

/* MQ3: 769 px to 1024 px (small screens, laptops) */

@media only screen and (max-width: 1024px) {

}

/* MQ2: 481 px to 768 px (tablets) */

@media only screen and (max-width: 768px) {

}

/* MQ1: 320 px to 480 px (phones) */

@media only screen and (max-width: 480px) {

}